.font-large {
  font-size: 35pt;
  font-weight: 600;
}

.font-large2 {
  font-size: 24pt;
  font-weight: 600;
}

.font-large3 {
  font-size: 16pt;
  font-weight: 600;
}

.font-small {
  font-size: 14pt;
  font-weight: 300;
  padding-left: 2px;
}

.font-small2 {
  font-size: 10pt;
  font-weight: 300;
  padding-left: 2px;
}

.font-medium, .font-medium * {
  font-size: 16pt;
  font-weight: 300;
  line-height: 35px;
}

@media (max-width: 800px) {

  .font-large {
    font-size: 28pt;
  }

  .font-large2 {
    font-size: 18pt;
  }

  .font-large3 {
    font-size: 13pt;
  }

  .font-small {
    font-size: 9pt;
  }

  .font-medium {
    font-size: 13pt;
  }

  .font-small2 {
    font-size: 8pt;
  }

}
