html, body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Lato', sans-serif;
    color: #ddd;
    overflow: hidden;
    overflow-x: hidden;
    background: #2e2e2e; /* Old Browsers */
    background: -webkit-linear-gradient(right,#2e2e2e,#3e3e3e); /*Safari 5.1-6*/
    background: -o-linear-gradient(right,#2e2e2e,#3e3e3e); /*Opera 11.1-12*/
    background: -moz-linear-gradient(right,#2e2e2e,#3e3e3e); /*Fx 3.6-15*/
    background: linear-gradient(to left, #2e2e2e, #3e3e3e); /*Standard*/
}

.content-container {
    width: 100%;
    height: 100%;
    margin-left: 0px;
}

.content-item {
    transition-duration: 0.5s;
    width: 100%;
    height: 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content-sub-item {
    height: 100%;
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 20pt;
}

.avatar {
    height: 100%;
    width: 49%;
    background: url("../media/avatar.png");
    background-size: 103% auto;
    background-position: center;
    background-repeat: no-repeat;
}

.tint {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.title {
    width: 200px !important;
    height: 180px !important;
    font-size: 20pt !important;
    letter-spacing: 5px !important;
    margin-bottom: 15px !important;
    border: none !important;
    background: none !important;
    color: #ddd;
}

.title a {
    color: #ddd;
    text-decoration: none;
    transition-duration: 1s;
}

.nav {
    transition-duration: 0.2s;
    position: absolute;
    width: 50px;
    height: 100%;
    background: #2e2e2ee0;
    border-right: 1px solid #aaa;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

.nav-item {
    transition-duration: 0.1s;
    width: 98%;
    height: 45px;
    margin-bottom: 5px;
    background: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-item:hover{
    filter: invert(100%);
    cursor: pointer;
}

.nav-item-text {
    width: auto;
    height: 45px;
    font-size: 14pt;
    line-height: 45px;
    margin-right: 8px;
    color: #fff;
}

.highlight {
    color: rgb(27, 114, 212);
    cursor: pointer;
}

.rotate {
    transform: rotate(-90deg);
}

.icon {
    width: 45px;
    min-width: 45px;
    height: 45px;
    filter: invert(100%);
    
}

#expand-item .icon {
    background: url("../media/icons/right-double-arrow.png");
    background-size: 70% 70%;
    background-position: center;
    background-repeat: no-repeat;
}

#about-item .icon {
    background: url("../media/icons/profile.png");
    background-size: 70% 70%;
    background-position: center;
    background-repeat: no-repeat;
}

#resume-item .icon {
    background: url("../media/icons/cv.png");
    background-size: 70% 70%;
    background-position: center;
    background-repeat: no-repeat;
}

#projects-item .icon {
    background: url("../media/icons/open-book.png");
    background-size: 70% 70%;
    background-position: center;
    background-repeat: no-repeat;
}

#courses-item .icon {
    background: url("../media/icons/folder.png");
    background-size: 70% 70%;
    background-position: center;
    background-repeat: no-repeat;
}

#about {
    height: 100%;
}

#projects {
    height: 0%;
    background: red;
}

#resume {
    height: 0%;
    background: blue;
}

#courses {
    height: 0%;
    background: green;
}

.hide {
    display: none;
}

.active {
    background: rgb(128, 44, 44);
}

.active:hover {
    filter: invert(0);
}
