@keyframes glowing {
  0% { text-shadow: 0 0 -4px #ddd; }
  40% { text-shadow: 0 0 8px #ddd; }
  60% { text-shadow: 0 0 8px #ddd; }
  100% { text-shadow: 0 0 -4px #ddd; }
}

* {
  font-family: 'Space Mono', monospace;
  font-size: 12pt;
}

html {
  width: 100vw;
  height: 100vh;
  background: rgba(32, 37, 48, 1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

body {
  padding: 0;
  margin: 0;
  width: 55%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.body-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  color: white;
}

.site-nav {
  text-align: right;
  width: 300px;
  height: 90%;
  border-right: 1px solid #555;
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  opacity: 0;
  list-style: none;
  counter-reset: item;
}

.site-nav div::before {
  counter-increment: item;
  content: counter(item) ".";
  margin-right: 10px;
  color: #222;
  font-size: 10pt;
  width: 10px;
  height: 10px;
  padding: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #888;
}
.site-nav div:nth-child(-n+9):before {
    content: '0'counter(item) ".";
}

.site-nav-item {
  transition-duration: 0.15s;
  color: rgb(180, 178, 201);
  width: auto;
  position: absolute;
}

.active-nav {
  color: rgb(229, 227, 255);
  padding-bottom: 3px;
  animation: glowing 3000ms infinite;
}

.site-nav-item:hover {
  border-bottom: 1px solid rgb(229, 227, 255);
  color: rgb(229, 227, 255);
  cursor: pointer;
}

.mobile {
  display: none;
}

.site-nav-expand {
  transition-duration: 0.15s;
  width: 30px;
  height: 50px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: rgba(19, 24, 37, 1);
  border-radius: 0px 50px 50px 0px;
}

.site-nav-expand:hover {
  cursor: pointer;
  background: rgba(22, 28, 43, 1);
}

.footer {
  color: #999;
  font-size: 8pt;
}

.footer i {
  font-size: 8pt;
}

.site-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.site-content-item {
  display: none;
  width: 90%;
  height: 90%;
  opacity: 0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #aaa;
}

.avatar {
  width: 140px;
  height: 150px;
  background: url("../media/avatar.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin: 2px;
  margin-bottom: 25px;
  border-radius: 1px;
}

.name {
  font-size: 18pt !important;
  margin-bottom: 25px;
}

.desc {
  overflow: hidden;
}

.desc, .desc p {
  font-size: 13px;
  text-align: center;
}

.desc a {
  text-decoration: none
}

.active-content {
  display: flex;
}

.site-sub-nav-item {
  display: none;
  font-size: 10pt;
}

.separator {
  position: absolute;
  color: #555;
  font-size: 12pt;
}

.ind-1 {
  margin-left: 0px;
}

.ind-2 {
  margin-left: 0px;
}

.features-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.feature-item {
  transition-duration: 0.2s;
  width: 50%;
  height: 50%;
  padding: 0;
  margin: 0; 
}

#search-engine {
  background: url('../media/projects/search-engine.jpg');
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.feature-item:hover {
  background-size: auto 120% !important;
}

.feature-item:hover .fi-title {
  animation: glowing 3000ms infinite;
}

.feature-item:hover .on-hover {
  display: block;
}

.item-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.fi-title a {
  font-size: 14pt;
  text-decoration: none;
}

.fi-desc {
  padding: 10px;
}

.fi-desc p{
  font-size: 9pt;
  text-align: center;
}

.fi-source{
}

.fi-source a{
  text-decoration: none;
}

.on-hover {
  display: none;
}

@media (max-width: 800px) {

  .mobile {
    display: flex;
  }

  .site-nav {
    display: flex;
  }

  body {
    width: 100%;
  }

  .body-content {
    justify-content: flex-start;
  }

}
